@model HomeDetailsViewModels;
@{
    ViewData["Title"] = "Details";
}
<center>
    <h1 class="m-4">
        @Model.PageTitle
    </h1>
</center>

<div>
    <div class="card m-3">
        <div class="card-header">
            <h3>@Model.Employee.Name</h3>
        </div>
        <img class="card-img-top" src="/Images/images.jpeg"/>
        <div class="card-footer text-center">
            <a href="" class="btn btn-primary">View</a>
            <a href="" class="btn btn-primary">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
        </div>
        </div>
</div>
