@model HomeDetailsViewModels;
@{
    ViewData["Title"] = "Details";
}

<h1>
    @Model.PageTitle
</h1>

<div>
    <h2>
        Name: @Model.Employee.Name
    </h2>
    <h2>
        Email: @Model.Employee.Email
    </h2>
    <h2>
        Department: @Model.Employee.Department
    </h2>
</div>
