@model employee.Models.Data.Employee;
@{
    ViewData["Title"] = "Details";
}

<h1>
    Details View    
</h1>

<div>
    <h2>
        Name: @Model.Name
    </h2>
    <h2>
        Email: @Model.Email
    </h2>
    <h2>
        Department: @Model.Department
    </h2>
</div>
