@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<div class="card-deck">
    @foreach (Employee item in Model)
    {
        @await Html.PartialAsync("EmployeeList", item);
    }
</div>

@section Scripts{
    <script src="/js/CustomScript.js"></script>
}
