@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<div class="card-deck">
    @foreach (Employee item in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@item.Name</h3>
            </div>
            <img class="card-img-top" src=""/>
            <div class="card-footer text-center">
                <a href="" class="btn btn-primary">View</a>
                <a href="" class="btn btn-primary">Edit</a>
                <a href="" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="/js/CustomScript.js"></script>
}
