@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <environment include="Development">
            <link href="/content/Content/bootstrap.css" rel="stylesheet" />
            <link href="/site.css" rel="stylesheet" />
            <link href="/fontawesome/css/all.css" rel="stylesheet" />
            <script src="/Scripts/jquery-3.4.1.js"></script>
            <script src="/content/Scripts/bootstrap.js"></script>
        </environment>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">Employee</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navcollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">&nbsp;<i class="fas fa-indent">&nbsp;List</i></a>
                        </li>
                        @if(signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Create" asp-controller="Home">&nbsp;<i class="fab fa-creative-commons-by">&nbsp;Create</i></a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if(signInManager.IsSignedIn(User))
                        {
                            <div class="nav-link">
                                <form method="POST" asp-action="logout" asp-controller="Account">
                                    <button type="submit" class="nav-link btn btn-link py-0">
                                        <i class="fas fa-sign-out-alt">&nbsp;Logout: @User.Identity.Name</i>
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Register" asp-controller="Account">&nbsp;<i class="fas fa-user-plus">&nbsp;Register</i></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-action="login" asp-controller="Account">&nbsp;<i class="fas fa-sign-in-alt">&nbsp;Login</i></a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
            @RenderBody()        
            @if(IsSectionDefined("Scripts"))
            {
                @RenderSection("Scripts", required: true);
            }
        </div>
    </body>
</html>