@model Employee

@{

}

<div class="card m-3">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <img class="card-img-top" src="/Images/images.jpeg"/>
    <div class="card-footer text-center">
        <form method="POST" asp-controller="Home" asp-action="Details" asp-route-Id="@Model.Id">
            <button type="submit" class="btn btn-primary m-1"><i class="far fa-eye">View</i></button>
        </form>
        <form method="POST" asp-controller="Home" asp-action="" asp-route-Id="@Model.Id">
            <button type="submit" class="btn btn-primary m-1"><i class="fas fa-user-edit">Edit</i></button>
        </form>
        <form method="POST" asp-controller="Home" asp-action="" asp-route-Id="@Model.Id">
            <button type="submit" class="btn btn-danger m-1"><i class="fas fa-user-minus">Delete</i></button>
        </form>
    </div>
</div>