@model Employee

@{

}

<div class="card m-3">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <img class="card-img-top" src="/Images/images.jpeg"/>
    <div class="card-footer text-center">
        <a href="" class="btn btn-primary">View</a>
        <a href="" class="btn btn-primary">Edit</a>
        <a href="" class="btn btn-danger">Delete</a>
    </div>
</div>