@model Employee

@{

}

<div class="card m-3">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <img class="card-img-top" src="/Images/images.jpeg"/>
    <div class="card-footer text-center">
        <form method="POST" asp-controller="Home" asp-action="Details" asp-route-Id="@Model.Id">
            <button type="submit" class="btn btn-primary">View</button>
        </form>
        <form method="POST" asp-controller="Home" asp-action="" asp-route-Id="@Model.Id">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
        <form method="POST" asp-controller="Home" asp-action="" asp-route-Id="@Model.Id">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>